# Most Polluted Countries - SQL Queries

### · Antes de empezar...

In [25]:
pip install geopandas

Collecting geopandas
  Downloading geopandas-0.12.2-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 9.0 MB/s eta 0:00:00ta 0:00:01
Collecting shapely>=1.7
  Downloading shapely-2.0.0-cp39-cp39-macosx_10_9_x86_64.whl (1.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 28.5 MB/s eta 0:00:0000:01
Collecting pyproj>=2.6.1.post1
  Downloading pyproj-3.4.1-cp39-cp39-macosx_10_9_x86_64.whl (8.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.4/8.4 MB 15.8 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: packaging in /Users/paulaelizagarate/opt/anaconda3/envs/Bootcamp/lib/python3.9/site-packages (from geopandas) (21.3)
Collecting fiona>=1.8
  Downloading Fiona-1.8.22-cp39-cp39-macosx_10_10_x86_64.whl (26.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 26.5/26.5 MB 11.6 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pandas>=1.0.0 in /Users/paulaelizagarate/opt/anaconda3/envs/Bootcamp/lib/python3.9/site-packages (from geopandas) (1.5.1)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: certifi in /Users/paulaelizagarate/opt/anaconda3/envs/Bootcamp/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (2022.9.24)
Requirement already satisfied: attrs>=17 in /Users/paulaelizagarate/opt/anaconda3/envs/Bootcamp/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (22.1.0)
Requirement already satisfied: setuptools in /Users/paulaelizagarate/opt/anaconda3/envs/Bootcamp/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (65.4.0)
Requirement already satisfied: six>=1.7 in /Users/paulaelizagarate/opt/anaconda3/envs/Bootcamp/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: click>=4.0 in /Users/paulaelizagarate/opt/anaconda3/envs/Bootcamp/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (8.1.3)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: numpy>=1.20.3 in /Users/paulaelizagarate/opt/anaconda3/envs/Bootcamp/lib/python3.9/site-packages (from pandas>=1.0.0->geopandas) (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/paulaelizagarate/opt/anaconda3/envs/Bootcamp/lib/python3.9/site-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/paulaelizagarate/opt/anaconda3/envs/Bootcamp/lib/python3.9/site-packages (from pandas>=1.0.0->geopandas) (2022.6)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/paulaelizagarate/opt/anaconda3/envs/Bootcamp/lib/python3.9/site-packages (from packaging->geopandas) (3.0.9)
Installing collected packages: shapely, pyproj, munch, cligj, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.22 geopandas-0.12.2 munch-2.5.0 pyproj-3.4.1 shapely-2.0.0
Note: you may need to restart the kernel to use updated packages.

In [27]:
pip install folium

Collecting folium
  Downloading folium-0.14.0-py2.py3-none-any.whl (102 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 102.3/102.3 kB 3.0 MB/s eta 0:00:00
Collecting branca>=0.6.0
  Downloading branca-0.6.0-py3-none-any.whl (24 kB)
Requirement already satisfied: requests in /Users/paulaelizagarate/opt/anaconda3/envs/Bootcamp/lib/python3.9/site-packages (from folium) (2.28.1)
Requirement already satisfied: jinja2>=2.9 in /Users/paulaelizagarate/opt/anaconda3/envs/Bootcamp/lib/python3.9/site-packages (from folium) (3.1.2)
Requirement already satisfied: numpy in /Users/paulaelizagarate/opt/anaconda3/envs/Bootcamp/lib/python3.9/site-packages (from folium) (1.23.4)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/paulaelizagarate/opt/anaconda3/envs/Bootcamp/lib/python3.9/site-packages (from jinja2>=2.9->folium) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/paulaelizagarate/opt/anaconda3/envs/Bootcamp/lib/python3.9/site-packages (from requests->folium) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /Users/paulaelizagarate/opt/anaconda3/envs/Bootcamp/lib/python3.9/site-packages (from requests->folium) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/paulaelizagarate/opt/anaconda3/envs/Bootcamp/lib/python3.9/site-packages (from requests->folium) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/paulaelizagarate/opt/anaconda3/envs/Bootcamp/lib/python3.9/site-packages (from requests->folium) (1.26.13)
Installing collected packages: branca, folium
Successfully installed branca-0.6.0 folium-0.14.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
#Para la conexión de SQL y la gestión de DataFrame

import pandas as pd
import numpy as np
import sqlalchemy as alch

from getpass import getpass

In [28]:
#Para visualización

import geopandas as gpd
import matplotlib.pyplot as plt
import folium

### Conexión con MySQL

Primero realizaremos la conexión:

In [2]:
password= getpass("Contraseña de MySQL")
bbdd= "polluted_countries"
conexion= f"mysql+pymysql://root:{password}@localhost/{bbdd}"
engine= alch.create_engine(conexion)

Contraseña de MySQL········

### Queries en SQL

Nuestra primera query tendrá el objetivo de saber cuales con aquellos 20 países y ciudades que tienen mayores niveles de contaminación. Esta primera pregunta es clave para seguir construyendo nuestro análisis y, por ende, sacar nuestras conclusiones.

In [16]:
#Most polluted countries:

query0= """
    
    SELECT `Country/Region`, MAX(`2021`) AS Contaminacion_2021
    FROM polluted_countries
    GROUP BY `Country/Region`
    ORDER BY Contaminacion_2021 DESC
    LIMIT 20;
"""

In [17]:
pc1= pd.read_sql(query0, engine)
pc1

          Country/Region  Contaminacion_2021
0             Bangladesh                77.0
1                   Chad                76.0
2               Pakistan                67.0
3             Tajikistan                59.0
4                  India                58.0
5                   Oman                54.0
6             Kyrgyzstan                51.0
7                Bahrain                50.0
8                   Iraq                50.0
9                  Nepal                46.0
10                 Sudan                44.0
11            Uzbekistan                43.0
12                 Qatar                38.0
13           Afghanistan                38.0
14  United Arab Emirates                36.0
15            Montenegro                35.0
16             Indonesia                34.0
17               Nigeria                34.0
18               Armenia                34.0
19              Mongolia                33.0

In [22]:
#Most polluted Cities

query1= """
    
    SELECT `City`,`country`, MAX(`2021`) AS Nivel_contaminacion 
    FROM polluted_cities
    GROUP BY `City`, `country`
    ORDER BY Nivel_contaminacion DESC
    LIMIT 20;
    
"""

In [23]:
pc2= pd.read_sql(query1, engine)
pc2

             City   country  Nivel_contaminacion
0         bhiwadi     India                106.0
1       ghaziabad     India                102.0
2           hotan     China                102.0
3           delhi     India                 96.0
4         jaunpur     India                 95.0
5      faisalabad  Pakistan                 94.0
6           noida     India                 91.0
7      bahawalpur  Pakistan                 91.0
8        peshawar  Pakistan                 90.0
9          bagpat     India                 89.0
10          hisar     India                 89.0
11      faridabad     India                 89.0
12  greater noida     India                 88.0
13         rohtak     India                 87.0
14         lahore  Pakistan                 87.0
15        lucknow     India                 86.0
16           jind     India                 84.0
17       gurugram     India                 83.0
18        kashgar     China                 83.0
19         kanpur     India                 83.0

Como podemos ver, hay discrepancias entre nuestros países y ciudades más contaminadas. India es uno de los países que más se repite en nuestro ranking de ciudades, pero no se situa entre los tres primeros en nuestro ranking de países, esto se debe a la extensión de país. India es uno de los diez países más grandes del mundo, esto hace que se diluya su proporción de contaminación en el ranking de países, ocupando la cuarta posición en 2021.

In [31]:
query2= """

    SELECT countries, cost_living_inde, `2021`
    FROM cost_living
    INNER JOIN polluted_countries ON polluted_countries_idpolluted_countries = polluted_countries.idpolluted_countries
    WHERE `year`= 2021
    ORDER BY cost_living_inde DESC;

    """

In [32]:
pc3= pd.read_sql(query2, engine)
pc3

      countries  cost_living_inde  2021
0   switzerland             132.0  11.0
1        norway             106.0   8.0
2       iceland              97.0   6.0
3       denmark              92.0  10.0
4    luxembourg              88.0   9.0
..          ...               ...   ...
94   uzbekistan              27.0  43.0
95  afghanistan              26.0  38.0
96        india              25.0  58.0
97   kyrgyzstan              23.0  51.0
98     pakistan              22.0  67.0

[99 rows x 3 columns]

In [ ]:
#se paga por vivir en ciudades menos contaminadas? La moralidad de esto, la externalización de agentes contaminantes a países con menor poder adquisitivo, estás relacionado esto con una mayor natalidad? por coste de vida o mano de obra para mantener a la familia? 
#Hacer variable que se incluya natalidad de los países menos contaminados, junto con coste de vida
# Hacer la cara b, países con mayor contaminación y menor coste de vida, como impacta la natalidad. 
#Recordar incluir comas en la natalidad, que las hemos eliminado.